@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 10;
    font-family: "Montserrat", serif;
    background-color: #10191a;
    color: white;
}

.barra-sup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px white;
    padding: 1%;
}

.barra-sup img{
    width: 20%;
    height: auto;
}

#bienvenidamsj{
    font-size: 300%;
    text-align: center;
    margin: 0%;
    padding: 1%;
}

.news{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 2%;
}

.news .list-news{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    justify-items: center;
    align-items: center;
}

.news .list-news a img{
    width: 100%;
    margin-bottom: 2%;
}

.news .list-news a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 3%;
}



.comment-container{
    display: flex;
    flex-direction: column;
    margin: 5% 20% 5% 20%; 
}

textarea{
    margin-top: 1%;
    margin-bottom: 4%;
    height: 10vh;
    border-radius: 10px;
    padding: 2.5% 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    margin-top: 4%;
}

button{
    width: 40%;
    height: 5vh;
    margin-top: 7px;
    margin-left: 30%;
    margin-bottom: 1%;
    cursor: pointer;
    border: none;
    background-color: #ffa108;
    color: white;
    border-radius: 15px;
    font-weight: 700;
}

button:hover{
    border: solid 3px white;
    transform: scale(1.05);
}

.comentario{
    background-color: white;
    padding: 2.5% 6% 0.5% 6%;
    margin-top: 2%;
    border-radius: 10px;
    text-align: left;
    color: black;
}

.datos-comentarista {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2%;
}

.datos-comentarista .data {
    display: flex;
    justify-content: left;
    align-items: stretch;
    gap: 5%;
    width: 40%;
}


.comentario p{
    font-size: 90%;
    line-height: 4px;
    margin-top: 2.5%;
    color: #4a4e69;
    margin-bottom: 4%;
}

.comentario .fecha{
    margin-top: 5%;
}

.user-image{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.btn-eliminar{
    width: 8%;
    margin: 0;
    align-items: end;
}