@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 10;
    font-family: "Montserrat", serif;
    background-color: #10191a;
    color: white;
}

.barra-sup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px white;
    padding: 1%;
}

.barra-sup img{
    width: 20%;
    height: auto;
}

#bienvenidamsj{
    font-size: 300%;
    text-align: center;
    margin: 0%;
    padding: 1%;
}

.news{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 2%;
}

.news .list-news{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    justify-items: center;
    align-items: center;
}

.news .list-news a img{
    width: 100%;
    margin-bottom: 2%;
}

.news .list-news a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 3%;
}



.comment-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 5%;
}

textarea{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 10px;
    height: 10vh;
}

button{
    width: 40%;
    height: 5vh;
    margin-top: 7px;
    margin-left: 30%;
    cursor: pointer;
    border: none;
    background-color: #4a4e69;
    color: white;
    border-radius: 15px;
}

button:hover{
    background-color: #14151d;
    transform: scale(1.05);
}